<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyd.sop.biz.apiservice.mapper.StRiverRMapper">

    <resultMap type="StRiverR" id="StRiverRResult">
        <result property="sTCD" column="STCD"/>
        <result property="sTNM" column="STNM"/>
        <result property="tM" column="TM"/>
        <result property="z" column="Z"/>
    </resultMap>

    <select id="findZMinByStcd" resultMap="StRiverRResult" parameterType="String">
        select t.STCD, trim(w.STNM) STNM, to_char(t.TM, 'yyyy-MM-dd HH24:mi') TM, t.Z from (
          select STCD, TM, Z from ST_RIVER_R t
          where Z is not null and STCD = #{stcd}
          and TM &gt;= to_date(CONCAT(#{startTime},' 00:00:00'), 'yyyy-MM-dd HH24:mi:ss')
          and TM &lt;= to_date(CONCAT(#{endTime},' 23:59:59'), 'yyyy-MM-dd HH24:mi:ss')
        ) t, ST_STBPRP_B w where t.STCD = w.STCD(+) order by t.TM
    </select>

    <select id="findZHourByStcd" resultMap="StRiverRResult" parameterType="String">
        select t.STCD, trim(w.STNM) STNM, to_char(t.TM, 'yyyy-MM-dd HH24:mi') TM, t.Z from (
          select STCD, TM, Z from ST_RIVER_R
          where Z is not null and to_char(TM, 'mi') = '00' and STCD = #{stcd}
          and TM &gt;= to_date(CONCAT(#{startTime},' 00:00:00'), 'yyyy-MM-dd HH24:mi:ss')
          and TM &lt;= to_date(CONCAT(#{endTime},' 23:59:59'), 'yyyy-MM-dd HH24:mi:ss')
        ) t, ST_STBPRP_B w where t.STCD = w.STCD(+) order by t.TM
    </select>

    <select id="findZDayByStcd" resultMap="StRiverRResult" parameterType="String">
        select t.STCD, trim(w.STNM) STNM, to_char(t.TM, 'yyyy-MM-dd HH24:mi') TM, t.Z from (
          select STCD, TM, Z from ST_RIVER_R
          where Z is not null and to_char(TM, 'HH24:mi') = '08:00' and STCD = #{stcd}
          and TM &gt;= to_date(CONCAT(#{startTime},' 00:00:00'), 'yyyy-MM-dd HH24:mi:ss')
          and TM &lt;= to_date(CONCAT(#{endTime},' 23:59:59'), 'yyyy-MM-dd HH24:mi:ss')
        ) t, ST_STBPRP_B w where t.STCD = w.STCD(+) order by t.TM
    </select>

    <select id="findNewestByStcd" resultMap="StRiverRResult">
        select t.STCD, trim(w.STNM) STNM, t.Z from (
          select STCD, Z from (
            select STCD, TM, Z, MAX(TM) over(partition by STCD) LASTTM from ST_RIVER_R
            where Z is not null and TM >= sysdate - 1 and STCD in
            <foreach collection="list" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>
          ) x where TM = LASTTM
        ) t, ST_STBPRP_B w where t.STCD = w.STCD(+)
    </select>

</mapper>