<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyd.sop.biz.apiservice.mapper.StWdwvRMapper">

    <resultMap type="StWdwvR" id="StWdwvRResult">
        <result property="sTCD" column="STCD"/>
        <result property="sTNM" column="STNM"/>
        <result property="tM" column="TM"/>
        <result property="wNDV" column="WNDV"/>
        <result property="wNDPWR" column="WNDPWR"/>
        <result property="wNDDIR" column="WNDDIR"/>
    </resultMap>

    <select id="findNewestByStcd" resultMap="StWdwvRResult">
        select t.STCD, trim(w.STNM) STNM, t.WNDV, t.WNDPWR, t.WNDDIR from (
          select STCD, WNDV, WNDPWR, WNDDIR from (
            select STCD, TM, WNDV, WNDPWR, WNDDIR, MAX(TM) over(partition by STCD) LASTTM from ST_WDWV_R
            where TM >= sysdate - 1 and STCD in
            <foreach collection="list" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>
          ) x where TM = LASTTM
        ) t, ST_STBPRP_B w where t.STCD = w.STCD(+)
    </select>

</mapper>